.comp-lib-wrap {
  width: 100%;
  padding: 100px var(--root-page-horizontal-padding);
  max-width: 900px;
}

.link {
  color: #eeeef0;
  text-underline-offset: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
