.app {
  display: flex;
  justify-content: center;
  width: 100dvw;
  /* padding: 0px var(--root-page-horizontal-padding); */
  /* height: 100dvh; */
}

.basic-text {
  color: var(--text-primary);
  width: 100%;
  text-align: left;
}

.basic-text-muted {
  color: var(--text-secondary);
  width: 100%;
  text-align: left;
}

.subheader {
  width: 100%;
  margin: 20px 0px;
  text-align: left;
}

.filler {
  min-height: 60vh;
}
