:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;

  --root-page-horizontal-padding: clamp(16px, 4vw, 5vw);
  --background-dark: #111111;
  --background-secondary: #ffffff1b;
  --text-primary: #ffffffed;
  --text-secondary: #e5edfd7b;

  --button-outline: 1px solid #60bafebd;

  --outline: 1px solid #d9edff5d;
  --outline-muted: 1px solid #d9edff1b;

  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--background-dark);
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
}

button {
  outline: none;
}

button:focus {
  outline: var(--button-outline);
  outline-offset: 3px;
}
