.is-wrap {
  --gap: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  gap: var(--gap);
  overflow: hidden;
  transition: all 1s ease-in;
}

.is-span {
  animation: scroll 2s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
