.cv-3-wrap {
  --chat-height: 80px;
  --backdrop-bg: #3b9eff;
  --backdrop-mute: #8e4ec6;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  height: var(--chat-height);
  max-width: 500px;
  position: relative;
  overflow: hidden;
}

.cv-3-chat-wrap {
  /* width: 100%; */
  width: calc(100% + 60px);
  height: 100%;
  height: 30px;
  max-width: 500px;
  height: var(--chat-height);
  background-image: linear-gradient(to right, gold, red);
}

.cv-3-backdrop {
  position: absolute;
  width: 100%;
  height: var(--chat-height);
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -100;
  background-color: var(--backdrop-bg);

  padding: 0px 0px 0px 20px;

  outline: var(--outline);
}

.cv-3-icon {
  background-color: red;
  height: 100%;
  width: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
